bitsandbytes==0.46.0
fastapi==0.115.13
gradio==5.34.2
huggingface_hub==0.32.2
numpy==1.26.0
openai==1.88.0
packaging==25.0
pandas==2.3.0
peft==0.15.2
Pillow==11.2.1
protobuf==3.20.3
pydantic==2.11.7
python-dotenv==1.1.0
Requests==2.32.4
torch==2.7.0
transformers==4.51.3
trl==0.18.2
unsloth==2025.6.2
unsloth_zoo==2025.6.1
uvicorn==0.34.3
vllm==0.9.1
wandb==0.20.1
